@using Blazor.FileReader
@using System.IO;
@page "/fetchdata"
@inject HttpClient Http
@inject IFileReaderService fileReaderService;

<h1>Cognitive Services Vision</h1>

<input type="file" id="fileUpload" ref="fileUpload" onchange="@UploadFile" />
<img src="@imageData" />

@functions {

    ElementRef fileUpload;
    string imageData = String.Empty;

    async Task UploadFile()
    {
        var files = await fileReaderService.CreateReference(fileUpload).EnumerateFilesAsync();

        using (MemoryStream memoryStream = await files.First().CreateMemoryStreamAsync())
        {
            imageData = $"data:image/jpg;base64,{Convert.ToBase64String(memoryStream.ToArray())}";
        }
    }

    //WeatherForecast[] forecasts;

    //protected override async Task OnInitAsync()
    //{
    //    forecasts = await Http.GetJsonAsync<WeatherForecast[]>("api/SampleData/WeatherForecasts");
    //}
}